.App {
  text-align: center;
}

.content {
  max-width: 500px;
  margin: auto;
}

body {
  display: flex;
  justify-content: center;
}

#up {
  text-align: center;
  background-color: #f8f1f1;
  width: 1100px;
  height: 140px;
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}

#secel {
  text-align: center;
  background-color: #11698e;
  width: 1100px;
  height: 650px;
  padding: 10px;
  vertical-align: middle;
}

#thirdel {
  text-align: center;
  background-color: #19456b;
  width: 1100px;
  height: 600px;
  padding: 10px;
  vertical-align: middle;
}

#fourthel {
  text-align: center;
  background-color: #16c79a;
  width: 1100px;
  height: 370px;
  padding: 10px;
}

#down {
  text-align: center;
  background-color: #fff3e6;
  width: 1100px;
  height: 100px;
  padding: 10px;
  vertical-align: bottom;
}

.splogos{
  width:  25px;
  height: 25px;
  float: right;
  margin-left: -40px;
  margin-bottom: 0.5em;
  object-fit: cover;
}

.linlogos {
  width:  27px;
  height: 27px;
  float: right;
  margin-left: -40px;
  margin-bottom: 0.5em;
  object-fit: cover;
}

.gitlogos {
  width:  25px;
  height: 25px;
  float: right;
  margin-left: -40px;
  margin-bottom: 0.5em;
  object-fit: cover;
}

img {
  max-width: 20%;
  height: auto;
  display: table-cell;
  padding-left: 45px;
  padding-top: 90px;
}

#title {
  text-align: center;
  display: inline;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px;
}
